<section class="funfact">
  <div class="funfact_container container">
    <ul class="funfact_list">
      <li class="funfact_item">
        <p class="funfact_counter">15k+</p>
        <p class="funfact_counter_desc">Active user</p>
      </li>
      <li class="funfact_item">
        <p class="funfact_counter">30k</p>
        <p class="funfact_counter_desc">Total Download</p>
      </li>
      <li class="funfact_item">
        <p class="funfact_counter">10k</p>
        <p class="funfact_counter_desc">Customer</p>
      </li>
    </ul>
  </div>
</section>