<header class="header">
  <div class="header_container container">
    <nav class="header_nav">
      <a class="header_nav_logo" href="./index.html" aria-label="Site logo">
        <img src="/img/header/Logo.png" alt="Logo image">
      </a>
      <button class="header_burger" type="button">
        <svg class='header_burger_svg' width='30' height='30'>
          <use href='/img/icons.svg#icon-menu-burger'>
          </use>
        </svg>
      </button>
      <ul class="header_nav_list">
        <li class="header_nav_item">
          <a class="header_nav_link p18" href="#">Demos</a>
        </li>
        <li class="header_nav_item">
          <a class="header_nav_link p18" href="#">Features</a>
        </li>
        <li class="header_nav_item">
          <a class="header_nav_link p18" href="#">Pricing</a>
        </li>
        <li class="header_nav_item">
          <a class="header_nav_link p18" href="#">Contact</a>
        </li>
      </ul>
      <ul class="header_nav_btn_list">
        <li class="header_nav_btn_item">
          <button class="header_btn_login p18fw5" type="button">Login</button>
        </li>
        <li class="header_nav_btn_item">
          <button class="header_btn_singUp p18fw5" type="button">Sign up</button>
        </li>
      </ul>
    </nav>
  </div>
</header>