<section class="some">
  <div class="some_container container">
    <div class="some_header">
      <h2 class="some_title H2">Some excellent features for you</h2>
      <p class="some_subtitle p18">An enim nullam tempor sapien gravida donec enim ipsum porta justo congue magna at
        pretium
        purus pretium ligula</p>
    </div>
    <ul class="some_list">
      <li class="some_item some_item_taskList">
        <div class="some_item_img">
          <svg class='some_svg_taskList'>
            <use href='/img/icons.svg#icon-taskLists'>
            </use>
          </svg>
        </div>
        <h3 class="some_item_title H3">Preset List of Task</h3>
        <p class="some_item_text p18">Make bill payments easily using the wallet app</p>
      </li>
      <li class="some_item some_item_bell">
        <div class="some_item_img">
          <svg class='some_svg_bell'>
            <use href='/img/icons.svg#icon-bell'>
            </use>
          </svg>
        </div>
        <h3 class="some_item_title H3">Reminder of Task</h3>
        <p class="some_item_text p18">Make bill payments easily using the wallet app</p>
      </li>
      <li class="some_item some_title_agenda">
        <div class="some_item_img">
          <svg class='some_svg_agenda'>
            <use href='/img/icons.svg#icon-agenda'>
            </use>
          </svg>
        </div>
        <h3 class="some_item_title H3">Complecation Report</h3>
        <p class="some_item_text p18">Make bill payments easily using the wallet app</p>
      </li>
    </ul>
  </div>
</section>