:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Nunito Sans", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --licorice: #1c0e0d;
  --temptress: #40201e;
  --white: #ffffff;
  --ogreOdor: #ff553e;
  --cetaceanBlue: #18063c;
  --blackOlive: #404040;
  --onyx: #38363c;
  --emerald: #5bc17f;
  --floralWhite: #fff8f2;
  --skyBlue: #70d0dc;
  --mSlateBlue: #7562e0;
  --coral: #fa865f;
}

html {
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  margin: 0;

  font-size: 16px;
  font-weight: 400;

  color: var(--blackOlive);
  background-color: var(--white);
}

main {
  flex-grow: 1;
}

.H1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 141%;
  text-align: center;
  color: var(--licorice)
}

.H2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
}

.H3 {
  font-weight: 600;
  font-size: 28px;
}

.H4 {}

.H5 {}

.H6 {}

.p18 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
}

.p18fw5 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width:768px) {
  .H1 {
    font-size: 28px;
  }

  .H2 {
    font-size: 24px;
  }

  .H3 {
    font-size: 20px;
  }

  .p18 {
    font-size: 16px;
  }
}

.visually-hidden {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}