.header {
  padding-top: 40px;
  background-color: var(--floralWhite);
}

.header_container {
  margin: 0 auto;
  max-width: 1186px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav_logo {
  width: 179px;
  height: 40px;
  flex-shrink: 0;
}

.header_nav_list {
  display: flex;
  gap: 48px;
  align-items: center;
}

.header_nav_item {}

.header_nav_link {
  font-family: var(--font-family);
}

.header_burger {
  display: none;
  background-color: transparent;
  border: none;
}

.header_burger_svg {
  fill: var(--ogreOdor);
}

.header_nav_btn_list {
  display: flex;
  gap: 36px;
}

.header_nav_btn_item {}

.header_btn_login {
  line-height: 156%;
  color: #ff553e;
  background-color: transparent;
  border: none;
  padding: 16px 0;
}

.header_btn_singUp {
  border-radius: 34px;
  width: 133px;
  height: 60px;
  background: #ff553e;
  line-height: 156%;
  color: #fff;
  border: none;
}

@media screen and (max-width:1440px) {}

@media screen and (max-width:1024px) {
  .header_nav_list {
    display: none;
  }

  .header_burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width:768px) {
  .header_nav_btn_list {
    display: none;
  }

  .header_nav_logo {
    width: 135px;
    height: 31px;
  }
}

@media screen and (max-width:425px) {}

@media screen and (max-width:375px) {}